.section__padding {
    padding-bottom: 0;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }
        @media screen and (min-width:1200px) {
            display: flex;
        }
   
        &__item {
            display: flex;
            margin-bottom: 30px;
            align-items: center;
            flex-direction: column;
                @media screen and (min-width:768px) {
                    width: calc((100% - 4 * 15px) / 2);
                    margin: 15px;
                    align-items: start;
                }
                @media screen and (min-width:1200px) {
                    width: 270px;
                    margin: 0;
                    align-items: start;
                }
}
        & .list__item + .list__item {
            @media screen and (min-width:1200px) {
                margin-left: 30px;
            }
        }
}
.list__thumb {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
    background-color:$bg-btn;
}
.list__svg {
    width: 70px;
    height: 70px;
}
.list__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.list__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:$text-color;
    margin: 0;
}