html {
    box-sizing:border-box;
}
*,
*::before,
*::after {
    box-sizing:border-box;
}
body {
    margin: 0;
    font-family:$primary-font-family, sans-serif;
    color: $primary-text-color;
    background-color: $white;
}
h1,
h2,
h3,
h4,h5,h6
p,
ul {
 margin: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
     @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
     }
}
.size-clr {
    max-width: 1600px;
    background-color: $backgroung-footer;
}