$primary-font-family:'Roboto';
$secondary-font-family:'Raleway Thin';
$primary-text-color:#212121;
$text-color:#757575;
$color-focus:#2196F3;
$bg-btn:#F5F4FA;
$footer-text-color:rgba(255, 255, 255, 0.6);
$white:#FFFFFF;
$background-color:#E5E5E5;
$backgroung-footer:#2F303A;